body {
    margin: 0;
    font-family: cursive;
}

header {
    position: relative;
    top: 0%;
    background-color: #FFE4B5 ;
    color: #FF1493;
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 3px solid #FF1493;
}

.page {
    position: relative;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    margin-bottom: 20px;
    border: 3px solid rgb(36, 199, 85);
}

.cat_card {
    background-color: white;
    width: calc(33.33%-30px);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    border: 3px solid rgb(36, 199, 85);
    border-radius: 5px;
}

.cat_card h2 {
    color: #FF1493;
}

.fa-heart {
    margin-left: 20px;
}

.fa-heart:hover {
    color: #FF1493;
    cursor: pointer;
}

.card_image {
    background: url(cat_unknown.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 300px;
    border: 3px solid rgb(36, 199, 85);
    border-radius: 5px;
}

.but_card {
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(36, 199, 85);
    border-radius: 5px;
    margin: 10px;
    color: #FF1493;
    width: 90%;
}

.button_change:hover {
    background-color: #FF1493;
    color: white;
    cursor: pointer;
}

.add_cat_button {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    font-size: 50px;
    cursor: pointer; 
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(36, 199, 85);
    border-radius: 50%;
    color: #FF1493;
}

.form_back {
    display: none;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 10;
    background: rgba(69, 161, 161, 0.548);
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
}

.add_form {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(36, 199, 85);
    border-radius: 5px;
    padding: 30px;
    width: 300px;
    position: relative
}

.form-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 150%;
    color:#FF1493;
    cursor: pointer; 
}

.add_form h3{
    color:#FF1493;
    margin: 0 auto;
}

.add_form form{
    display: grid;
    gap: 10px;
}

input, textarea {
    font-family: cursive;
    width: 100%;
    box-sizing: border-box;
    height: 20px;
    border: 3px solid rgb(36, 199, 85);
    border-radius: 5px;
}

form label {
    display: flex;
    color:#FF1493;
}

form label input {
    width: 20px;
}

textarea {
    min-height: 70px;
}

.form_cat_preview {
    background-image: url(cat_unknown.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 180px;
    border: 3px solid rgb(36, 199, 85);
    border-radius: 5px;
    margin: 0 auto;
}

form button {
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(36, 199, 85);
    border-radius: 5px;
    color: #FF1493;
    width: 100%;
    justify-content: center;
    align-items: center;
}

