body {
    margin: 0px;
    font-family: cursive;
}

header {
    position: sticky;
    top: 0%;
    background-color: blanchedalmond;
    color: rgb(90, 25, 121);
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 2px;
    border-style: solid;
    border-color: rgb(60, 29, 119);
}

.page {
    position: relative;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    margin-bottom: 20px;
    border: 2px;
    border-style: solid;
    border-color: brown;
}

.card {
    background-color: white;
    width: calc(33.33%-30px);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    border: 2px;
    border-style: solid;
    border-color: rgb(36, 199, 85);
    border-radius: 5px;
}

.card h2 {
    color: rgb(90, 25, 121);
}

.fa-heart {
    margin-left: 20px;
}

.fa-heart:hover {
    color: red;
    cursor: pointer;
}

.red {
    color: red;
}

.image {
    background-image: url(pictures/3975029.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 60%;
    border: 2px;
    border-style: solid;
    border-color: rgb(36, 199, 85);
    border-radius: 5px;
}

.del {
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(36, 199, 85);
    border-radius: 5px;
    margin: 10px;
    color: red;
}

.but_change:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.add_cat {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    font-size: 50px;
    cursor: pointer; 
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(36, 199, 85);
    border-radius: 50%;
    color: red;
}

.add_form{
    display: none;
    position: absolute; 
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 10;
    background-color: rgb(60, 130, 177);
    border-style: solid;
    border-color: rgb(36, 199, 85);
    opacity: 50%;
}

.add_form.active{
    display: flex;
}